/.DS_Store
/data
/Home/siv33/vbo084/EloGuessr/notebooks/__pycache__
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints
notebooks/__pycache__/eloguessr.cpython-312.pyc
.gitignore
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
/models
