/.DS_Store
/data
/Home/siv33/vbo084/EloGuessr/notebooks/__pycache__
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints
notebooks/__pycache__/eloguessr.cpython-312.pyc
.gitignore
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/utils.cpython-312.pyc
/models
models/embeddings/decoder_emb512_elite_medium.pt
notebooks/__pycache__/chesspybara.cpython-312.pyc
notebooks/__pycache__/chesspybara.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
notebooks/__pycache__/chesspybara.cpython-312.pyc
notebooks/__pycache__/eloguessr.cpython-312.pyc
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints/Iteration with Indexes-checkpoint.ipynb
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints/Latest Iteration-checkpoint.ipynb
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints/Tokenizing the data-checkpoint.ipynb
/Home/siv33/vbo084/EloGuessr/notebooks/.ipynb_checkpoints/Training pipeline-checkpoint.ipynb
/Home/siv33/vbo084/EloGuessr/data/raw/2014_06.pgn
/Home/siv33/vbo084/EloGuessr/data/raw/elite_2020_05.pgn
/Home/siv33/vbo084/EloGuessr/data/processed

